body {
  color: white;
  background-image: url("./instagramWallpaper.webp");
  background-position: center;
}

p,
h1,
h2,
h3 {
  text-align: center;
}

.center_frame {
  justify-content: center;
  text-align: center;
}

.show_box {
  display: inline-block;
}

.how_to_use {
  border: 3px solid white;
  padding: 20px;
  width: 500px;
  margin: 1% auto;
}
