body {
  color: white;
  background-image: url("./images/background/instagramWallpaper.jpg");
  background-position: center;
  background-size: 4096px 2160px;
  font-size: 120%;
}

a,
a:visited,
a:hover,
a:active {
  color: rgb(255, 0, 144);
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  text-align: center;
}

textarea {
  resize: none;
  width: 400px;
  height: 200px;
  background-color: rgb(29, 17, 23);
  color: lightgray;
  font-size: 120%;
}

.center_frame {
  justify-content: center;
  text-align: center;
}

.center_frame input {
  margin-top: 15px;
  height: 40px;
  padding: 10px;
  background-color: rgb(29, 17, 23);
  color: lightgray;
}

.how_to_use {
  border: 3px solid white;
  padding: 20px;
  width: 500px;
  margin: 1% auto;
}

.show_box {
  margin: auto;
  padding: 15px;
  border: 4px dotted yellow;
  width: 400px;
}

.show_box input {
  margin: auto;
  display: block;
}
