body {
  color: white;
  background-image: url("./instagramWallpaper.webp");
  background-position: center;
}

a,
a:visited,
a:hover,
a:active {
  color: pink;
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  text-align: center;
}

textarea {
  resize: none;
  width: 400px;
  height: 200px;
}

.center_frame {
  justify-content: center;
  text-align: center;
}

.center_frame input {
  margin-top: 15px;
  height: 40px;
  padding: 10px;
}

.how_to_use {
  border: 3px solid white;
  padding: 20px;
  width: 500px;
  margin: 1% auto;
}

.show_box {
  margin: auto;
}
