<!DOCTYPE html>
<html>
  <head>
    <title>회원가입</title>
  </head>
  <body>
    <form method="post" action="/signup">
      <div class="center_frame">
        <input
          type="text"
          placeholder="이름을 입력하세요"
          id="user_name"
          name="user_name"
          required
          oninput="this.value = this.value.replace(/[^a-z0-9]/gi,'')"
        />
        <input
          type="password"
          name="password"
          placeholder="비밀번호를 설정하세요"
          required
          oninput="this.value = this.value.replace(/[^a-z0-9]/gi,'')"
        />
      </div>
      <div class="center_frame">
        <input style="margin-top: 20px" type="submit" value="가입" required />
      </div>
    </form>
  </body>
</html>
