<!DOCTYPE html>
<html>
  <head>
    <title>Instagram 분석기 사용설명서</title>
    <link rel="stylesheet" type=text/css href="../static/style2.css" />
    <style>
      a,
      a:visited,
      a:hover,
      a:active {
        color: inherit;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <h1><a href="/">메인으로</a></h1>
    <hr />
    <h3>
      <p style="color: yellow">
        저희 웹사이트는 고유한 아이디로 회원을 구분합니다. 아이디를 잊지
        말아주세요.
      </p>
    </h3>
    <div class="center_frame">
      <div class="how_to_use">
        <img width="300px" src="../static/how_to_use/1_login_img.png" /><br />
        <h3>인스타그램에 로그인합니다.</h3>
      </div>
      <div class="how_to_use">
        <img
          width="300px"
          src="../static/how_to_use/2_profile_enter_img.png"
        /><br />
        <h3>자신의 프로필 탭으로 접속합니다.</h3>
      </div>
      <div class="how_to_use">
        <img
          width="300px"
          src="../static/how_to_use/3_follow_tab_img.png"
        /><br />
        <h3>팔로워 및 팔로우 탭을 각각 사용합니다.</h3>
      </div>
      <div class="how_to_use">
        <img
          width="300px"
          src="../static/how_to_use/4_follower_list_img.png"
        /><br />
        <h3>빨간색 점 부분을 클릭하여 화살표 방향으로</h3>
        <h3>드래그하여 모든 사용자에 범위 지정합니다.</h3>
      </div>
      <div class="how_to_use">
        <img
          width="300px"
          src="../static/how_to_use/5_scroll_blocking_img.png"
        /><br />
        <h3>더 이상 로딩이 안될 때까지 드래그하면</h3>
        <h3>다음 사진과 같이 파란색 영역이 설정됩니다.</h3>
      </div>
      <div class="how_to_use">
        <img
          width="300px"
          src="../static/how_to_use/6_copy_and_paste_img.png"
        /><br />
        <h3>인스타그램 분석기에 복사 붙여넣기(Ctrl+C, Ctrl+V)하고,</h3>
        <h3>팔로잉 탭도 동일하게 진행합니다.</h3>
      </div>
    </div>
  </body>
</html>
