<!DOCTYPE html>

<html>
  <head>
    <title>Instagram 분석기 사용설명서</title>
    <link rel="stylesheet" type=text/css href="../static/style.css" />
  </head>

  <body>
    <h1><a href="/">메인으로</a></h1>

    <hr />

    <div class="center_frame">
      <div class="how_to_use">
        <h3>
          <p style="color: yellow">
            저희 웹사이트는 고유한 아이디로 회원을 구분합니다.
          </p>
        </h3>
        <h3><p style="color: yellow">아이디를 잊지 말아주세요.</p></h3>
        <h3>
          <p style="color: yellow">설정한 비밀번호는 암호화되어 저장됩니다.</p>
        </h3>
        <h3>
          <p style="color: yellow">
            관계 분석은 마지막 분석 시점과 비교하여 진행됩니다.
          </p>
        </h3>
      </div>

      <div class="how_to_use">
        <img
          width="300px"
          src="../static/images/how_to_use/1_login_img.png"
        /><br />
        <h3>1. 인스타그램에 로그인합니다.</h3>
      </div>

      <div class="how_to_use">
        <img
          width="300px"
          src="../static/images/how_to_use/2_profile_enter_img.png"
        /><br />
        <h3>2. 자신의 프로필 탭으로 접속합니다.</h3>
      </div>

      <div class="how_to_use">
        <img
          width="300px"
          src="../static/images/how_to_use/3_follow_tab_img.png"
        /><br />
        <h3>3. 팔로워 및 팔로우 탭을 각각 사용합니다.</h3>
      </div>

      <div class="how_to_use">
        <img
          width="300px"
          src="../static/images/how_to_use/4_follower_list_img.png"
        /><br />
        <h3>4. 빨간색 점 부분을 클릭하여 화살표 방향으로</h3>
        <h3>드래그하여 모든 사용자에 범위 지정합니다.</h3>
      </div>

      <div class="how_to_use">
        <img
          width="300px"
          src="../static/images/how_to_use/5_scroll_blocking_img.png"
        /><br />
        <h3>5. 더 이상 로딩이 안될 때까지 드래그하여</h3>
        <h3>다음 사진과 같이 파란색 영역을 설정합니다.</h3>
      </div>

      <div class="how_to_use">
        <img
          width="300px"
          src="../static/images/how_to_use/6_copy_and_paste_img.png"
        /><br />
        <h3>6. 인스타그램 분석기에 복사하여 붙여넣고,</h3>
        <h3>팔로잉 탭도 동일하게 진행합니다.</h3>
      </div>
    </div>
  </body>
</html>
