<!DOCTYPE html>
<html>

<head>
  <title>Instagram 분석기</title>
  <link rel="stylesheet" type=text/css href="../static/style.css" />
</head>

<body>
  <h1>Instagram 분석기</h1>
  <hr />
  <form method="post" action="/analyze">
    <div class="center_frame">
      <div>
        <h3>팔로워</h3>
        <textarea name="followers" required></textarea>
      </div>
      <div>
        <h3>팔로잉</h3>
        <textarea name="followings" required></textarea>
      </div>
    </div>
    <div class="center_frame">
      <input type="text" placeholder="고유한 별명을 입력하세요(영숫자만 가능)" id="user_name" name="user_name" required
        oninput="this.value = this.value.replace(/[^a-z0-9]/gi,'')" />
      <input type="password" name="password" placeholder="비밀번호를 설정하세요" required
        oninput="this.value = this.value.replace(/[^a-z0-9]/gi,'')" />
    </div>
    <div class="center_frame">
      <input style="margin-top: 20px" type="submit" value="분석" required />
    </div>
  </form>
</body>

</html>