<!DOCTYPE html>
<html>
  <head>
    <title>Instagram 분석기</title>
    <link rel="stylesheet" type=text/css href="../static/style.css" />
  </head>

  <body>
    <h1>Instagram 분석기</h1>
    <hr />
    <div class="how_to_use">
      <h2>
        <a
          style="margin: 20px; color: pink"
          href="http://instagram.com"
          target="_blank"
          >Instagram 접속</a
        >
        <a style="margin: 20px; color: pink" href="{{url_for('how_to_use')}}"
          >사용법</a
        >
        <a style="margin: 20px; color: pink" href="{{url_for('signup')}}"
          >계정생성</a
        >
      </h2>
      <hr />
      <form method="post" action="/analyze">
        <div class="center_frame">
          <div>
            <h3>팔로워</h3>
            <textarea
              placeholder="이곳에 복사하여 붙여 넣어주세요."
              name="followers"
              required
            ></textarea>
          </div>
          <div>
            <h3>팔로잉</h3>
            <textarea
              placeholder="이곳에 복사하여 붙여 넣어주세요."
              name="followings"
              required
            ></textarea>
          </div>
        </div>
        <div class="center_frame">
          <input
            type="text"
            placeholder="아이디를 입력하세요"
            id="user_name"
            name="user_name"
            required
            oninput="this.value = this.value.replace(/[^a-z0-9]/gi,'')"
          />
          <input
            type="password"
            name="password"
            placeholder="비밀번호를 입력하세요"
            required
            oninput="this.value = this.value.replace(/[^a-z0-9]/gi,'')"
          />
        </div>
        <div class="center_frame">
          <input style="margin-top: 20px" type="submit" value="분석" required />
        </div>
      </form>
    </div>
  </body>
</html>
